################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyGameAgain/Game/bin
/MyGameAgain/Game/obj
/MyGameAgain/Console/bin
/MyGameAgain/.vs
/.vs
/MyGameAgain/Console/obj
/MyGameAgain/Grid/obj
